<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Afegir Animal</title>
</head>
<body>

<form method="post" action="#" th:action="${animalForm.id!=0} ?@{/animals/edit/submit}:@{/animals/new/submit}" th:object="${animalForm}">      <!-- un cop referenciem el formulari, podem referenciar els atributs del POJO -->

    <h1 th:text="${animalForm.id!=0}?'Editar animal': 'Nou Animal'">bla bla empleat</h1>
    <span th:if="${animalForm.id!=0}">
    Id <input type="text" id="id" placeholder="1" th:field="*{id}" readonly="readonly"><br/>
    </span>
    <span th:unless="${animalForm.id!=0}">
    Id <input type="hidden" id="id" placeholder="1" th:field="*{id}" readonly="readonly"><br/>
    </span>
    Imatge URL <input type="text" id="imatgeUrl" placeholder="Imatge" th:field="*{imatgeUrl}"><br/>
    Nom <input type="text" id="nom" placeholder="Nom" th:field="*{nom}"><br/>
    Genere <input type="text" id="genere" placeholder="Genere" th:field="*{genere}"><br/>
    Personalitat <input type="text" id="personalitat" placeholder="Personalitat" th:field="*{personalitat}"><br/>
    Mola? <input type="checkbox" id="esGuai" th:field="*{esGuai}"><br/>
    És imprescindible? <input type="esImprescindible" id="directiu" th:field="*{esImprescindible}"><br/>

    <button type="submit">Enviar</button>
</form>

En tot moment, si vols, pots fer, logout
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>


