<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Consulta d'empleat per ID</title>
</head>
<body>

ID: <span th:text="${animal.id}"/> <br/>
Imatge: <span th:text="${animal.imatgeUrl}"/> <br/>
Nom: <span th:text="${animal.nom}"/> <br/>
Genere: <span th:text="${animal.genere}"/><br/>
Personalitat: <span th:text="${animal.personalitat}"/> <br/>
<span th:text="${animal.esGuai}?'És ': 'No és '"/> Aquest animal </br/>
<span th:text="${animal.esImprescindible}?'És ': 'No és '"/> Aquest animal </br/>



</body>
