<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<title>Error pàgina /error</title>


<body>
<h1>Pàgina d'error completa</h1>


<p>
    <b>Page:</b> <span th:text="${#httpServletRequest.requestURL}">Page URL</span>
</p>

<p>
    <b>Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
</p>

<p>
    <b>Response Status:</b> <span th:text="${status}">status-code</span>
    <span th:text="'('+${error}+')'">error ...</span>
</p>

<p>

    <b> Message:</b> <span th:text="${message}"></span>

</p>


</body>
</html>